.Home {
    text-align: center;
}

.Home-header {
    background-color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Home-head-bar {
    height: 10%;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.Home-sidebar {
    height: 10%;
    width: 100%;
    border-right-style: solid;
    border-right-width: 1px;
}