.Auth {
    text-align: center;
}

.Auth-header {
    background: linear-gradient(120deg, #FFFFFF, #ff5500);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Auth-box {
    background-color: #FFFFFF;
    height: 60vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

/* Auth switch  */

.Auth-checkbox {
  display: none;
}

.Auth-switch {
  border: none;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 125px;
}

.Auth-switch-label {
  margin-top: 80px;
  margin-bottom: 50px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  overflow: hidden;
}

.Auth-switch-left {
  display: block;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  width: 200%;
}

.Auth-switch-left:before,
.Auth-switch-left:after {
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0;
  width: 50%;
}

.Auth-switch-left:before {
  background-color: #ff5500;
  color: #fff;
  content: "REGISTER";
  padding-left: .75em;
  text-align: left;
}

.Auth-switch-left:after {
  background-color: #eee;
  color: #666;
  content: "LOGIN";
  padding-right: .75em;
  text-align: right;
}

.Auth-switch-right {
  background-color: #ff5500;
  border: 2px solid #666;
  border-radius: 20px;
  bottom: 50px;
  display: block;
  margin: 5px;
  position: absolute;
  right: 91px;
  top: 80px;
  transition: all 0.3s ease-in 0s; 
  width: 20px;
}

.Auth-checkbox:checked + .Auth-switch-label .Auth-switch-left {
  margin-left: 0;
}

.Auth-checkbox:checked + .Auth-switch-label .Auth-switch-right {
  background-color: #eee;
  right: 0; 
}

/* input component */

input[type=text], select {
  width: 80%;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px;
}

input[type=password], select {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #ff6414;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
  background-color: #ff5500;
}

/* 
.Login-forgot_password {
  font-size: 15px;
} */